# Copy this file to .env and fill in your Supabase credentials
# NEVER commit the real .env file to GitHub

REACT_APP_SUPABASE_URL=https://gudgutgvpruspmlyqtcg.supabase.co
REACT_APP_SUPABASE_ANON_KEY=sb_publishable_Y7mKv0Od-Ii33c-AdVS1wA_I5bsQMse
